<h3>Enter your sysop password!</h3>

<form method="post">
{errors}
<input class="txt" type="password" placeholder="Sysop password" name="authstr" />
{token}
<input type="hidden" name="login" value="1" />
<br />
<input class="submbtn" type="submit" value="Войти" />
</form>
