</div>
<table width=100%><tr><td width=85% id=status>
</td><td align=right>
<b>Powered by <a href="https://gitlab.com/shaos/iii-php">iii-php</a> v0.11 &nbsp;</b>
</td></tr></table>
</body>
<script type="text/javascript">
function ajax(s,u) {
  var r = null;
  var p = arguments[2];
  try {
    r = new XMLHttpRequest();
  } catch(e) {
    r = null;
  }
  if(r!=null)
  {
    r.onreadystatechange = function() {
      if(r.readyState==4 && r.status==200) {
        e = document.getElementById(s);
        e.innerHTML = r.responseText;
      }
    }
    if(p==null) {
      r.open("GET",u,true);
      r.send(null);
    } else {
      r.open("POST",u,true);
      r.send(p);
    }
  }
}

ajax("status","status");
</script>
</html>
