<h3>Edit message {msgid}</h3>

<form method="post">
<input type="hidden" name="edit-message" value="{msgid}" />
<textarea class="txt" placeholder="Raw message text" name="edit-text">{message}</textarea>
<br /><br />
{token}
<input class="submbtn" type="submit" value="Save" />
</form>
