<h3>Configure echos in your view</h3>

<form method="post">
<textarea class="new-echolist txt" placeholder="Enter 1 echo per line..." name="new_echolist">{list}</textarea>
{small-echolist}
<br />
<div class="submit-wrapper">
<label><input type="checkbox" name="default_echolist" value="1">Enable all available echos</label><br /><br />
<input class="submbtn" type="submit" value="Save" />
</div>
</form>
