{errors}

<h3>Add msgid to blacklist</h3>
<form method="post" action="?">
<input placeholder="Enter msgid" class="txt" type="text" name="blacklist-add">
{token}
<input class="submbtn" type="submit" value="Add">
</form>
<br />
<hr />

<h3>Edit message by msgid (BAD)</h3>
<form method="post" action="?">
<input placeholder="Enter msgid" class="txt" type="text" name="edit-message">
{token}
<input class="submbtn" type="submit" value="Edit">
</form>
<br />
<hr />

<h3>Delete echo by name</h3>
<form method="post" action="?">
<select name="echoarea-delete">
{options}
</select>
{token}
<input class="submbtn" type="submit" value="Delete">
</form>
<br />
<hr />

<h3>Edit blacklist</h3>
<form method="post" action="?">
<textarea name="blacklist" class="txt" placeholder="One msgid per line">{blacklist}</textarea>
{token}
<input class="submbtn" type="submit" value="Save">
</form>
<br />
<hr />

<h3>Delete specific messages by msgid</h3>
<form method="post" action="?">
<textarea name="messages-clear" class="txt" placeholder="One msgid per line"></textarea>
{token}
<input class="submbtn" type="submit" value="Delete">
</form>
<br />
<hr />

<h3>Clean database according to blacklist</h3>
<form method="post" action="?">
<input type="hidden" name="blacklist-clear" value="1">
{token}
<input class="submbtn" type="submit" value="Clean">
</form>
<br />
<hr />
