<h3>{formheader}</h3>

<form method="post">
{errors}
{msg}
<input class="txt" type="text" placeholder="Тема" name="subj" value="{subj}" />

<textarea class="txt" placeholder="Message text" name="msgtext">{msgtext}</textarea>
{passwd}
{token}
<input type="hidden" name="a" value="1" />
<br />
<input class="submbtn" type="submit" value="Send" />
</form>
